name: Build and Deploy

on:
  push:
    branches:
      - prod

env:
  IMAGE_NAME: knegam/teteretechs:front-prod

jobs:
  build:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      # - name: Set up Environment Variables
      #   run: echo "${{ secrets.ENVIRONMENT_VARIABLES }}" > .env

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        run: |
          docker build -t $IMAGE_NAME .
          docker push $IMAGE_NAME

  restart:
    name: Restart Kubernetes Deployment
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Set up kubeconfig
        run: echo "${{ secrets.KUBECONFIG }}" > /tmp/kubeconfig.yml

      - name: Install kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: latest

      - name: Restart Deployment
        run: |
          export KUBECONFIG=/tmp/kubeconfig.yml
          kubectl rollout restart deployment notification-test-2 -n mongo-dev
          
# trigger  
